body{
    margin: 0;
}
nav{
    background-color: green;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    color: orange;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover{
    color: darkorange;
    text-decoration: underline;
}

nav a:first-child{
    color: black;
    font-size: 22pt;
    font-family: 'Montserrat', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    height: 506px;

}

section div{
    display: flex;
    flex-direction: column;
    height: 170px;
    margin-top: 30px;
    align-items: center;
    border-radius: 10px;
}

div input{
    margin-bottom: 20px;
    width: 95%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
section div input:focus{
    background-color:orange;

}
input::placeholder{
    color: orange;
    text-align: center;

}

div input:nth-child(4){
    margin-top: 20px;
    width: 70%;
    height: 22px;
    background-color: green;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 0 9px greenyellow;
}
footer{
    background-color: green;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    width: 200px;
    display: flex;
    justify-content: space-around;

}

footer div img{
    width: 20px;
    height: 20px;
}